<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MasterDetailFilterString.Properties.Settings.nwindConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\nwind.mdb"
            providerName="System.Data.OleDb" />
        <add name="nwindConnectionString" connectionString="xpoprovider=MSAccess;provider=Microsoft.Jet.OLEDB.4.0;data source=C:\DevExpress\ReportingExamples\Reporting_how-to-implement-a-master-detail-report-by-adjusting-the-filterstring-property-at-e543\CS\MasterDetailFilterString\nwind.mdb" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
